@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>接入应用</title>
</head>
<body>
    <div>
        <a href="@ViewBag.url">授权</a>
    </div>
</body>
</html>
